@font-face {
	font-family: MontserratExtraLight;
	src: url("../fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
	font-family: Montserrat;
	src: url("../fonts/Montserrat-ExtraLight.ttf");
	font-weight: 200;
}
@font-face {
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Light.ttf");
	font-weight: 300;
}
@font-face {
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Medium.ttf");
	font-weight: 500;
}
@font-face {
  font-family: Montserrat;
	 src: url("../fonts/Montserrat-SemiBold.ttf");
	 font-weight: 600;
}
@font-face {
  font-family: Montserrat;
	 src: url("../fonts/Montserrat-Bold.ttf");
	 font-weight: 700;
}

textarea, button, input {
	font-family: Montserrat;
}
* {
	box-sizing: border-box;
}
body, h1, h2, h3, h4, ul, p {
  margin: 0;
}
ul {
	list-style: none;
	padding: 0;
}

#wrapper {
	max-width: 1920px;
	margin: 0 auto;
	font-family: Montserrat;
}

/* Start of the About block */

#about {
	background: url(../images/about-background.jpg);
	background-size: cover;
	padding: 20px 20px 108px;
}

#iAbout {
	max-width: 1200px;
	margin: 0 auto;
}

#about header {
	max-width: 1072px;
	overflow: hidden;
	margin-bottom: 96px;
}

#about header nav {
	float: right;
	margin-top: 37px;
}

#about header ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#about header li {
	display: inline-block;
	margin-right: 40px;
}

#about header li:nth-child(7) {
	margin-right: 0;
}

#about header li:nth-child(8) {
	display: none;
}

#about header li a {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
}

#about header li a:hover {
	border-bottom: 2px solid #00c8d2;
}

#about header li.dropdown input[type="checkbox"],
#about header li.dropdown ul.dropdown-menu,
#about header li.dropdown i {
	display: none;
}

#menu-hunb {
	display: none;
}

#about article {
  margin-left: 30px;
}

#about article h1 {
	color: #fff;
	font-size: 50px;
	font-weight: bold;
	line-height: 69px;
}

#about article p {
	color: #fff;
	font-size: 25px;
	line-height: 35px;
	margin-bottom: 40px;
}

#about article button {
	width: 160px;
	height: 40px;
	border: none;
	padding: 0;
	background-image: url(../images/about-button-border.png);
	background-color: transparent;
	transition: background-image 0.5s;
}

#about article a {
	display: block;
	height: 36px;
	padding: 6px;
	color: #ffffff;
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
	text-decoration: none;
}

#about article button:hover {
	background-image: url(../images/about-button-hover.jpg);
}

/* End of the About block */

/* Start of the Technologies block */

#technologies {
  max-width: 1201px;
	margin: 0 auto;
	padding: 81px 20px 79px;
}

#technologies h2 {
	text-align: center;
	color: #090909;
	font-size: 40px;
	line-height: 46px;
	text-transform: uppercase;
	margin-bottom: 49px;
}

#technologies img {
	max-width: 100%;
}

#technologies img:last-child {
	display: none;
}

/* End of the Technologies block */

/* Start of the Slideshow block */

#slideshow .slider-first {
	background-image: url(../images/slider-first-bg.jpg);
	height: 700px;
}

#slideshow .slider-second {
	background-image: url(../images/slider-second-bg.jpg);
	height: 700px;
}

#slideshow .slider-third {
	background-image: url(../images/slider-third-bg.jpg);
	height: 700px;
}

#slideshow .iSlider {
	max-width: 1040px;
	margin: 0 auto;
	padding: 195px 20px 0;
}

#slideshow .slider-second .iSlider,
#slideshow .slider-third .iSlider {
	padding-top: 108px;
}

#slideshow h2 {
	color: #fff;
	font-size: 66px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 46px;
}

#slideshow .iSlider > div > img {
	margin-bottom: 29px;
	max-width: 100%;
}

#slideshow p {
	color: #fff;
	font-weight: 400;
	font-size: 25px;
	margin-bottom: 36px;
}

#slideshow .slider-third p {
	color: #1e1919;
}

#slideshow .slide-button {
	width: 140px;
	height: 40px;
	background-image: linear-gradient(to right, #fa5120 0%, #004d67 100%);
	border: none;
	padding: 0;
}

#slideshow .slider-second .slide-button {
	width: 250px;
	height: 40px;
}

#slideshow .slider-third .slide-button {
	width: 260px;
}

#slideshow .slide-button a {
	display: block;
	height: 40px;
	padding: 9px 10px 9px;
	color: #fff;
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
	text-decoration: none;
}

#slideshow .slide-button img {
	display: inline;
}

#slideshow .slick-arrow {
  height: 36px;
  width: 20px;
}

#slideshow .slick-arrow:before {
  content: '';
  display: block;
  height: 36px;
  width: 20px;
  opacity: 1;
}

#slideshow .slick-prev {
  left: calc((100% - 1200px) / 2);
  z-index: 1;
}

#slideshow .slick-prev:before {  
  background-image: url(../images/slideshow-arrow-prev.png);
}

#slideshow .slick-next {
  right: calc((100% - 1200px) / 2);
}

#slideshow .slick-next:before {
  background-image: url(../images/slideshow-arrow-next.png);
}

/* End of the Slideshow block */

/* Start of the WhatWeDo block */

#whatWeDo {
	background-image: url(../images/whatWeDo-bg.jpg);
	padding: 72px 20px 63px
}

#iWhatWeDo {
	max-width: 1170px;
	margin: 0 auto;
}

#whatWeDo #iWhatWeDo > h2 {
	color: #292929;
	font-size: 40px;
	font-weight: 600;
	line-height: 46px;
	letter-spacing: -2px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 43px;
}

#whatWeDo article {
	display: inline-block;
	vertical-align: top;
	max-width: 46%;
}

#whatWeDo h2 + article {
	margin-right: 6.5%;
}

#whatWeDo article h2 {
	color: #fff;
	font-size: 40px;
	font-weight: 600;
	line-height: 46px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 11px;
}

#whatWeDo article h2 + i {
	display: block;
	width: 250px;
	height: 2px;
	background-color: #fff;
	margin: 0 auto 30px;
}

#whatWeDo h2 + article h2 {
	color: #090909;
}

#whatWeDo h2 + article h2 + i {
	background-color: #090909;
}

#whatWeDo article p {
	color: #fff;
	font-size: 25px;
	font-weight: 400;
	line-height: 35px;
	margin-bottom: 28px;
}

#whatWeDo h2 + article p {
	color: #090909;
}

#whatWeDo article p + i {
	display: block;
	width: 105px;
	height: 1px;
	background-color: #fff;
	margin: 0 auto 29px;
}

#whatWeDo h2 + article p + i {
	background-color: #090909;
}

#whatWeDo ol {
	margin: 0 0 27px;
	padding-left: 25px;
}

#whatWeDo li {
	color: #fff;
	font-size: 25px;
	font-weight: 400;
	line-height: 35px;
	margin-bottom: 5px;
}

#whatWeDo h2 + article li {
	color: #090909;
}

#whatWeDo article button {
	display: block;
	width: 160px;
	height: 40px;
	border: none;
	padding: 0;
	background-image: linear-gradient(to right, #fa5120 0%, #004d67 100%);
	margin: 0 auto;
}

#whatWeDo article a {
	display: block;
	height: 36px;
	padding: 6px;
	color: #ffffff;
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
	text-decoration: none;
}

/* End of the WhatWeDo block */

/* Start of the Contacts block */

#contacts {
	padding: 71px 20px 79px;
	background-color: #f3f3f3;
}

#iContacts {
	margin: 0 auto;
}

#contacts h2 {
	color: #090909;
	font-size: 40px;
	font-weight: 500;
	line-height: 46px;
	text-transform: uppercase;
	margin-bottom: 38px;
	text-align: center;
}

#contacts h2 + span {
	display: block;
	color: #090909;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	margin: 0 auto 30px;
	text-align: center;
}

#contacts ul {
	margin: 0 0 30px;
	text-align: center;
}

#contacts ul li {
	display: inline-block;
	margin-right: 77px;
}

#contacts ul li:last-child {
	margin-right: 0;
}

#contacts ul li span {
	color: #090909;
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	display: inline-block;
	margin-left: 11px;
}

#contacts ul li:nth-child(3) span {
	font-weight: bold;
}

#contacts ul li:last-child a {
	margin-right: 13px;
}

#contacts ul li:last-child a:last-child {
	margin-right: 0;
}

#contacts ul + span {
	display: block;
	color: #090909;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	text-align: center;
	margin-bottom: 20px;
}

#contacts form {
	max-width: 830px;
	margin: 0 auto;
}

#contacts form ol {
	margin: 0 0 24px;
	padding: 0;
	list-style: none;
}

#contacts form ol li {
	margin-right: 65px;
	display: inline-block;
}

#contacts form ol li:last-child {
	margin-right: 0;
}

#contacts form label {
	display: block;
	color: #090909;
	font-family: "MontserratExtraLight";
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
}

#contacts form ol input {
	width: 230px;
	height: 35px;
	border-radius: 2px;
	border: 1px solid #fa5120;
	background-color: #ffffff;
	padding: 10px 12px;
	color: #090909;
	font-size: 14px;
	font-weight: 500;
	line-height: 26px;
}

#contacts form ol + label {
	text-align: center;
}

#contacts form textarea {
	width: 830px;
	max-width: 100%;
	height: 120px;
	border-radius: 2px;
	border: 1px solid #fa5120;
	background-color: #fff;
	margin-bottom: 35px;
	padding: 10px 12px;
	color: #090909;
	font-size: 14px;
	font-weight: 500;
	line-height: 26px;
}

#contacts form button {
	display: block;
	width: 160px;
	height: 40px;
	border: none;
	padding: 0;
	background-image: linear-gradient(to right, #fa5120 0%, #004d67 100%);
	margin: 0 auto;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}

#contacts form button img {
	position: absolute;
	top: 14px;
	right: 11px;
}

/* End of the Contacts block */

/* Start of the Footer block */

footer {
	padding: 35px 20px 49px;
	background-color: #104e63;
}

#iFooter {
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}

footer nav {
	display: inline-block;
	margin-bottom: 40px;
}

footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

footer li {
	display: inline-block;
	margin-right: 35px;
}

footer li:last-child {
	margin-right: 0;
}

footer li a {
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
}

footer form {
	float: right;
	position: relative;
}

footer form label {
	display: block;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
	margin: -3px 0 2px;
}

footer form input {
	width: 300px;
	height: 35px;
	border-radius: 2px;
	border: 1px solid #00c8d2;
	background-color: #fff;
	color: #090909;
	font-size: 14px;
	font-weight: 500;
	line-height: 26px;
	padding: 10px 67px 10px 12px;
}

footer form button {
	display: inline-block;
	width: 50px;
	height: 33px;
	border: none;
	padding: 0;
	background-image: linear-gradient(to right, #fa5120 0%, #004d67 82%, #004d67 100%);
	cursor: pointer;
	text-align: center;
 	position: absolute;
	top: 26px;
	right: 1px;
	margin-left: -55px;
}

.clear {
	clear: both;
}

#iFooter > img {
  display: block;
  margin: 0 auto 40px;
}

#iFooter > span {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 26px;
	display: block;
	text-align: center;
}

/* End of the Footer block */

@media only screen and (max-width: 768px) {

	/* Start of the About block */

	#about {
		background: url(../images/about-background-tablet-v.jpg);
		background-size: cover;
		padding-bottom: 87px;
	}

	#about header {
		margin: 0;
		display: block;
	}

	#about header > img {
		width: 149px;
		height: 67px;
	}

	#about header nav {
		display: none;
		width: 300px;
		height: 400px;
		margin-top: 0;
		box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.36);
		background-color: #fff;
		opacity: 0.95;
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 40px;
	}

	#about header li {
		display: block;
		margin: 0 0 22px;
		padding-left: 75px;
	}

	#about header #menu-list > ul > li:first-child a {
		color: #fa5120;
	}
	
	#about header #menu-list > ul > li:last-child {
		border-top: 1px solid #adadad;
		margin-top: 25px;
		padding: 27px 0 0 85px;
		display: block;
	}

	#about header #menu-list > ul > li:last-child a {
		margin-right: 18px;
	}

	#about header #menu-list > ul > li:last-child a:last-child {
		margin-right: 0;
	}

	#about header li a {
		color: #0d0d0e;
		font-size: 17px;
		letter-spacing: 0.85px;
		font-weight: 500;
	}

	#about header li a:hover {
		border-bottom: none;
	}

	#about article {
		margin: -10px 35px 0 170px;
	}

	#about article h1 {
		font-size: 27px;
		line-height: 56px;
    margin-bottom: 10px;
	}

	#about article p {
		line-height: 27px;
		font-size: 16px;
	}

	#menu-hunb {
	  background: transparent;
	  border: none;
	  display: block;
	  position: absolute;
	  top: 19px;
	  right: 20px;
	  padding: 0;
	}

	#menu-hunb:focus {
	  outline: none;
	}

	#menu-hunb [class*='bar-'] {
	  background: #fff;
	  display: block;
	  border-radius: 8px;
	  height: 3px;
	  width: 25px;
	  margin-bottom: 4px;
	  transition: .2s ease all;
	}

	#menu-hunb .bar-bot {
	  margin-bottom: 0;
	}

	#menu-hunb.opened [class*='bar-'] {
		background-color: #fa5120;
		width: 20px;
		height: 1px;
	}

	.opened .bar-top {
	  transform: rotate(45deg);
	  transform-origin: 15% 15%;
	}

	.opened .bar-mid {
	  opacity: 0;
	}

	.opened .bar-bot {
	  transform: rotate(-45deg);
	  transform-origin: 15% 95%;
	}

	/* End of the About block */

	/* Start of the Technologies block */

	#technologies {
		padding: 40px 20px 52px;
	}

	#technologies h2 {
		font-size: 35px;
		margin-bottom: 30px;
	}

	#technologies img {
		display: block;
		max-width: 95%;
		margin: 0 auto;
	}

	/* End of the Technologies block */

	/* Start of the Slideshow block */
	
	#slideshow .slider-first {
		background-image: url(../images/slider-first-bg-tablet-v.jpg);
		height: 500px;
	}

	#slideshow .slider-second {
		background: url(../images/slider-second-bg-tablet-v.jpg);
		background-position-x: -300px;
		height: 500px;
	}

	#slideshow .slider-third {
		background: url(../images/slider-third-bg-tablet-v.jpg);
		height: 500px;
		background-position-x: -670px;
	}

	#slideshow .iSlider {
		padding: 90px 60px  0;
	}

	#slideshow .slider-second .iSlider,
	#slideshow .slider-third .iSlider {
		padding-top: 82px;
	}

	#slideshow .slider-second .iSlider > div > img {
	  max-width: 322px;
	  margin-bottom: 33px;
	}

	#slideshow .slider-third .iSlider > div > img {
		max-width: 304px;
	  margin-bottom: 33px;
	}

	#slideshow p {
		font-size: 19px;
		margin: 0 0 18px;
		font-weight: 400;
	}

	#slideshow .slick-arrow {
	  height: 23px;
	  width: 13px;
	}

	#slideshow .slick-arrow:before {
		height: 23px;
  	width: 13px;
	}

	#slideshow .slick-prev {
		left: calc((100% - 715px) / 2);
	}

	#slideshow .slick-prev:before {
		background-size: cover;
	}

	#slideshow .slick-next {
		right: calc((100% - 715px) / 2);
	}

	#slideshow .slick-next:before {
		background-size: cover;
	}

	/* End of the Slideshow block */

	/* Start of the WhatWeDo block */

	#whatWeDo {
		padding: 30px 20px 50px;
	}

	#whatWeDo #iWhatWeDo > h2 {
		font-size: 35px;
		margin-bottom: 20px;
	}

	#whatWeDo article {
		max-width: 48%;
	}

	#whatWeDo h2 + article {
		margin-right: 3%;
	}

	#whatWeDo article ~ article p {
		margin-bottom: 50px;
	}

	#whatWeDo article h2 {
		font-size: 35px;
	}

	#whatWeDo article h2 + i {
		margin-bottom: 24px;
	}

	#whatWeDo article p {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 20px;
	}

	#whatWeDo article p + i {
		margin-bottom: 20px;
	}

	#whatWeDo ol {
		padding-left: 15px;
	}

	#whatWeDo li {
		font-size: 15px;
		line-height: 23px;
		font-weight: 500;
		margin-bottom: 0;
	}

	/* End of the WhatWeDo block */

	/* Start of the Contacts block */

	#contacts {
		padding: 24px 20px 47px;
	}

	#contacts h2 {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 15px;
	}

	#contacts h2 + span {
		margin-bottom: 20px;
	}

	#contacts ul {
		margin-bottom: 18px;
	}

	#contacts ul li {
		margin-right: 40px;
	}

	#contacts ul li span {
		margin-left: 6px;
		font-size: 14px;
	}

	#contacts ul li:nth-child(3) span {
		font-weight: 500;
	}

	#contacts ul li:last-child a {
		margin-right: 2px;
	}

	#contacts ul + span {
		margin-bottom: 18px;
	}

	#contacts form ol li {
		margin-right: 50px;
	}

	#contacts form ol input {
		width: 200px;
	}

	/* End of the Contacts block */

	/* Start of the Footer block */

	footer {
		padding: 40px 17px 17px;
	}

	footer nav {
		display: block;
		margin-bottom: 22px;
	}

	footer li {
		margin-right: 26px;
	}

	footer form {
		float: left;
	}

	footer .clear {
		clear: none;
	}

	#iFooter > img {
		display: inline-block;
		width: 149px;
		height: 66px;
		margin: 0;
		position: absolute;
		right: 20px;
	}

	#iFooter > span {
		margin-top: 110px;
	}

	/* End of the Footer block */
}

@media only screen and (max-width: 480px) {

	/* Start of the About block */

	#about {
		background: url(../images/about-background-mobile-v.jpg);
		background-size: cover;
		padding: 10px 20px 34px;
	}

	#about header {
		margin-bottom: 10px;
	}

	#about header > img {
    position: relative;
    z-index: 1;
	}

	#about header nav {
		width: 100%;
		opacity: 1;
		padding-top: 0;
		height: auto;
	}

	#about header li {
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #adadad;
	}

	#about header #menu-list > ul > li:first-child {
		background-color: #fa5120;
	}

	#about header #menu-list > ul > li:last-child {
		border-top: none;
		margin-top: 0;
		padding: 42.5px 0;
		text-align: center;
		border-bottom: none;
	}

	#about header li a {
		display: block;
		padding: 17px 0;
		font-size: 15px;
		text-align: center;
		font-weight: 400;
	}

	#about header #menu-list > ul > li:first-child a {
		color: #fff;
	}

	#about header #menu-list > ul >  li:last-child a {
		display: inline-block;
		padding: 0;
	}

	#about header li.dropdown input[type="checkbox"] + a {
		transition: 0.5s background-color;
	}

	#about header li.dropdown input[type="checkbox"]:checked + a {
		background-color: #fa5120;
		color: #fff;
	}

	#about header li.dropdown {
		position: relative;
	}

	#about header li.dropdown input[type="checkbox"] {
	  opacity: 0;
	  display: block;
	  position: absolute;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  cursor: pointer;
	}

	#about header li.dropdown i {
		display: inline-block;
		position: absolute;
		left: 61%;
		transform: rotate(0deg);
	  transition: transform 0.6s;
	}

	#about header li.dropdown input[type="checkbox"]:checked + a i {
	  transform: rotate(-180deg);
	  transition: transform 0.6s;
	}

	#about header li.dropdown ul.dropdown-menu {
		display: block;
	  max-height: 0;
	  overflow: hidden;
	  transform: scaleY(0);
	  transform-origin: 50% 0%;
	  transition: max-height 0.6s ease-out;
	  animation: hideAnimation 0.4s ease-out;
	}

	#about header li.dropdown input[type="checkbox"]:checked ~ ul.dropdown-menu {
	  max-height: 9999px;
	  display: block;
	  transform: scaleY(1);
	  animation: showAnimation 0.5s ease-in-out;
	  transition: max-height 2s ease-in-out;
	}

	#about header li.dropdown ul.dropdown-menu li {
		border-bottom: none;
	}

	#about header li.dropdown ul.dropdown-menu a {
		display: inline-block;
		width: 49.5%;
	}

	@keyframes showAnimation {
	  0% {
	    transform: scaleY(0.1);
	  }
	  40% {
	    transform: scaleY(1.04);
	  }
	  60% {
	    transform: scaleY(0.98);
	  }
	  80% {
	    transform: scaleY(1.04);
	  }
	  100% {
	    transform: scaleY(0.98);
	  }
	  80% {
	    transform: scaleY(1.02);
	  }
	  100% {
	    transform: scaleY(1);
	  }
	}
	
	@keyframes hideAnimation {
	  0% {
	    transform: scaleY(1);
	  }
	  60% {
	    transform: scaleY(0.98);
	  }
	  80% {
	    transform: scaleY(1.02);
	  }
	  100% {
	    transform: scaleY(0);
	  }
	}

	#menu-hunb {
		top: 10px;
	  right: 18px;
	}

	#menu-hunb.opened {
		top: 18px;
	}

	#menu-hunb.opened [class*='bar-'] {
		background-color: #fff;
	}

	#about article {
		margin: 0 15px 0;
	}

	#about article h1 {
		font-size: 33px;
		line-height: 43px;
	}

	#about article p {
		margin-bottom: 25px;
	}

	#about article button {
		margin: 0 auto;
		display: block;
	}

	/* End of the About block */

	/* Start of the Technologies block */

	#technologies {
		padding: 20px 20px 29px;
	}

	#technologies h2 {
		font-size: 33px;
		line-height: 43px;
		margin-bottom: 10px;
	}

	#technologies img {
		display: none;
	}

	#technologies img:last-child {
		display: block;
	}

	/* End of the Technologies block */

	/* Start of the Slideshow block */

	#slideshow {
		margin: 0;
	}

	#slideshow #slick-slide00 {
		background-image: url(../images/slider-first-bg-mobile-v.jpg);
		height: 500px;
	}

	#slideshow #slick-slide01 {
		background-image: url(../images/slider-second-bg-mobile-v.jpg);
		background-position-x: initial;
		height: 500px;
	}

	#slideshow #slick-slide02 {
		background-image: url(../images/slider-third-bg-mobile-v.jpg);
		background-position-x: initial;
		height: 500px;
	}	

	#slideshow .iSlider {
		padding: 78px 15px  0;
	}

	#slideshow .slider-second .iSlider {
		padding-top: 57px;
	}

	#slideshow .slider-third .iSlider {
		padding-top: 66px;
	}

	#slideshow h2 {
		margin-bottom: 20px;
	}

	#slideshow .slider-second .iSlider > div > img {
		margin-bottom: 12px;
	}

	#slideshow .slider-third .iSlider > div > img {
		margin-bottom: 15px;
	}

	#slideshow p {
		font-size: 18px;
		line-height: 1.35;
	}
	
	#slideshow .slide-button {
		display: block;
		margin: 0 auto;
	}

	#slideshow .slick-dots {
		position: absolute;
    bottom: 16px;
	}

	#slideshow .slick-dots li {
		margin: 0 15px 0 0;
	}

	#slideshow .slick-dots li:last-child {
		margin: 0;
	}

	#slideshow .slick-dots li,
	#slideshow .slick-dots li button,
	#slideshow .slick-dots li button:before {
		box-sizing: border-box;
	  width: 15px;
    height: 15px;
	}

	#slideshow .slick-dots li button:before {
		border: 2px solid #fa5120;
		border-radius: 50%;
		opacity: 1;
		content: '';
	}

	#slideshow .slick-dots li.slick-active button:before {
	  background-color: #fa5120;
	}

	/* End of the Slideshow block */

	/* Start of the WhatWeDo block */
	
	#whatWeDo {
		background-image: url(../images/whatWeDo-bg-mobile-v.jpg);
		padding: 20px 0 0;
	}

	#iWhatWeDo {
		height: 800px;
		position: relative;
	}

	#whatWeDo #iWhatWeDo > h2 {
		font-size: 33px;
		line-height: 43px;
	}

	#whatWeDo article {
		display: block;
		max-width: 100%;
		padding: 0 20px;
	}

	#whatWeDo h2 + article {
		margin-right: 0;
		position: absolute;
		bottom: 16px;
	}

	#whatWeDo h2 + article + article {
		position: absolute;
		top: 70px;
	}

	#whatWeDo article h2 {
		font-size: 33px;
		line-height: 43px;
	}

	#whatWeDo article h2 + i {
		margin-bottom: 8px;
	}
	
	#whatWeDo article p {
		font-size: 16px;
		line-height: 27px;
		margin-bottom: 10px;
		text-align: center;
	}

	#whatWeDo article ~ article p {
    margin-bottom: 10px;
  }

	#whatWeDo article p + i {
		margin-bottom: 10px;
	}

	#whatWeDo ol {
		padding-left: 0;
		margin-bottom: 12px;
	}

	#whatWeDo li {
		font-size: 17px;
		font-weight: 400;
		line-height: 30px;
		text-align: center;
		list-style: none;
	}

	#whatWeDo li:nth-child(1):before {
		content: '1. ';
	}

	#whatWeDo li:nth-child(2):before {
		content: '2. ';
	}

	#whatWeDo li:nth-child(3):before {
		content: '3. ';
	}

	/* End of the WhatWeDo block */

	/* Start of the Contacts block */

	#contacts {
		padding: 22px 17px 30px;
	}

	#contacts h2 {
		font-size: 33px;
	}

	#contacts h2 + span {
		margin-bottom: 8px;
	}

	#contacts ul {
		margin-bottom: 10px;
	}

	#contacts ul li {
		margin-right: 0;
		width: 49.5%;
	}

	#contacts ul li:nth-child(2),
	#contacts ul li:nth-child(4) {
		text-align: right;
		margin-top: 10px;
	}

	#contacts ul li span {
		margin-left: 10px;
		font-size: 16px;
	}

	#contacts ul li:last-child a {
		margin-right: 18px;
	}

	#contacts ul + span {
		margin-bottom: 8px;
	}

	#contacts form ol {
		margin-bottom: 8px;
	}

	#contacts form ol li {
		margin-right: 0;
		display: block;
		margin-bottom: 10px;
	}

	#contacts form ol input {
		width: 100%;
	}

	#contacts form ol + label {
		text-align: left;
	}

	#contacts form textarea {
		margin-bottom: 20px;
	}

	/* End of the Contacts block */
	
	/* Start of the Footer block */

	footer {
		padding-top: 120px;
	}

	footer form {
		position: absolute;
		top: -105px;
		left: calc((100% - 300px) / 2);
	}

	footer form label {
		text-align: center;
		margin: 0 0 10px;
	}

	footer form button {
		top: 37px;
	}

	footer ul {
		display: block;
	}

	footer li {
		margin: 0 0 12px;
		display: block;
		text-align: center;
	}

	#iFooter > img {
	  display: block;
	  position: static;
	  margin: 0 auto 25px;
	}

	#iFooter > span {
		margin-top: 0;
	}

	/* End of the Footer block */
}